.home {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.home_header {
	display: flex;
	justify-content: space-between;
	padding: 20px 30px;
	align-items: center;
}

.home_header a {
	/* the a tag represents the Link tags. 
    In the css, we can't write 'home_header Link', 
    we write 'home_header a' */
	margin-right: 20px;
	text-decoration: inherit;
	color: #499861;
	font-weight: 500;
	font-size: 15px;
}

.home_header a:hover {
	text-decoration: underline;
}

.home_headerRight {
	display: flex;
	align-items: center;
	min-width: 13vw;
	justify-content: space-between;
}

.home_headerRight > .MuiSvgIcon-root {
	margin-right: 20px;
}

.home_body {
	flex: 1;
	display: flex;
	margin-top: 10%;
	flex-direction: column;
}

.home_body > img {
	object-fit: contain;
	height: 150px;
}

.home_inputContainer .search_input > input {
	border: none;
}

.home_inputContainer > .search > .search_buttons > button {
	border: 1px solid #fec03b;
	text-transform: inherit;
}

/* media */

@media screen and (max-width: 414px) {
	/*  */
	.home_header {
		justify-content: space-between;
	}

	.home_headerLeft .remove_option,
	.home_headerRight .remove_option {
		display: none;
	}
}

@media screen and (max-width: 380px) {
	.home_inputContainer .search_input {
		width: 87%;
	}
}
