.searchPage_header {
	display: flex;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 100;
	align-items: flex-start;
	padding: 30px;
	border-bottom: 1px solid lightgray;
}

.searchPage_logo {
	object-fit: contain;
	height: 50px;
	margin-right: 50px;
}

.searchPage_headerBody > .search > .search_input {
	/* this is removing the styling of some of the elements on search.js 
    The styling of theelements within the div that has the class 'search_input' will be changed*/
	margin-top: 0;
	width: unset;
	margin: unset;
	max-width: unset;
}
