/* whole search page */

/* .searchPage {
	background-color: red;
} */

/* header */

.searchPage_header {
	display: flex;
	position: sticky;
	top: 0;
	/* background-color: white; */
	z-index: 100;
	align-items: flex-start;
	padding: 30px;
	border-bottom: 1px solid lightgray;
}

.searchPage_logo {
	object-fit: contain;
	height: 50px;
	margin-right: 50px;
}

.searchPage_headerBody > .search > .search_input {
	/* this is removing the styling of some of the elements on search.js 
    The styling of theelements within the div that has the class 'search_input' will be changed*/
	margin-top: 0;
	/* width: unset; */
	margin: unset;
	max-width: unset;
	padding: 1rem;
}

.searchPage_options {
	display: flex;
	align-items: center;
	color: grey;
}

.searchPage_options a,
.searchPage_optionsRight a {
	text-decoration: none;
	color: gray;
}

.searchPage_optionsRight,
.searchPage_optionsLeft {
	display: flex;
}

.searchPage_optionsRight {
	margin-left: 80px;
}

.searchPage_option {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.searchPage_options a {
	margin-left: 5px;
}

/* results */

.searchPage_results {
	padding-left: 30px;
	padding-right: 30px;
}

.searchPage_result {
	display: flex;
	flex-direction: column;
	margin: 40px 0;
}

.searchPage_results {
	/* max-width: 650px; */
	margin-top: 20px;
	/* margin-left: 240px; */
	margin-bottom: 100px;
}

.searchPage_resultCount {
	columns: #70757a;
	font-size: 14px;
}

.searchPage_resultImage {
	object-fit: contain;
	height: 20px;
	width: 20px;
	margin-right: 10px;
}

.searchPage_resultTitle {
	text-decoration: none;
}

.searchPage_resultTitle:hover {
	text-decoration: underline;
}

.searchPage_resultTitle > h2 {
	font-size: 1.3rem;
	color: #212eab;
	font-weight: 500;
}

.searchPage_resultSnippet {
	margin-top: 10px;
}

/* media queries */

@media screen and (max-width: 1039px) {
	.searchPage_logo {
		width: 100%;
	}

	.searchPage_header {
		flex-direction: column;
		align-items: center;
	}

	.searchPage_headerBody > .search > .search_input {
		width: 90%;
	}

	.searchPage_options {
		justify-content: center;
	}

	.searchPage_optionsRight {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	/*  */
	.searchPage_headerBody > .search > .search_input {
		display: block;
		margin: auto;
	}

	.searchPage_optionsLeft > .remove_option {
		display: none;
	}

	.searchPage_optionsLeft {
		width: 100%;
		justify-content: center;
	}
}

@media screen and (max-width: 414px) {
	.searchPage_headerBody > .search > .search_input {
		width: 80%;
	}

	.searchPage_headerBody > .search > .search_input .search_inputField {
		width: 60%;
	}
}

@media screen and (max-width: 360px) {
	.searchPage_headerBody > .search > .search_input {
		width: 70%;
	}

	.searchPage_headerBody > .search > .search_input .search_inputField {
		width: 50%;
	}
}
